{% extends "materials/product.html" %}

{% block content%}
    <div id="content-wrapper" class="myColorElem" >
        <div class="bg-white mx-2 ">
            <div class="row"></div>

            {% for currentMaterial in material %}

                {% include "materials/onePosition.html" with one_material=currentMaterial%}

            {% endfor %}
            <div class="col-sm-12 text-center">
                    <a class="btn btn-success my-2" href="/materials/create/"> Добавить </a>
            </div>
        </div>
    </div>

{% endblock %}