{% extends "materials/product.html" %}
{% load staticfiles %}
{#{% use "oneNodeInList.html.twig" %}#}
{#{% use "onePositionMap.html.twig" %}#}

{% block content%}

    <div id="content-wrapper" class="myColorElem" xmlns="http://www.w3.org/1999/html">

        <div class="row">
            <span class="lg-col-12 sm-col-4 h1 ml-4">{{ material.title }}</span>
        </div>

        <div class="row bg-white m-3 p-2">

            <div class="d-inline col-md-4 col-sm-12">

                <img src="{% static material.img %}" class="img-fluid">

            </div>

            <div class="d-inline col-md-8 col-sm-12">
                <div class="row-centered">
                    <div class="sm-col-12 lg-col-8 mx-auto">
                        <input type="checkbox" checked id="hd-1" class="hide"/>
                        <label for="hd-1" class="h3">Характеристики</label>
                        <div class="row">
                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Название</label>

                            <div class="col-sm-12">
                                <input class="form-control form-control-sm" id="title" value="{{ material.title }}">
                            </div>

                            <label for="colFormLabelSm" class="col-sm-2 col-form-label col-form-label-sm">Код товара</label>
                            <div class="col-sm-12">
                                <input class="form-control form-control-sm" id="code" placeholder="000000" value="{{ material.code_material }}">
                            </div>

                            <label for="colFormLabelSm" class="col-sm-5 col-form-label col-form-label-sm">Количество на складе</label>
                            <div class="col-sm-12">
                                <input class="form-control form-control-sm" id="balance" placeholder="0" value="{{ material.balance }}">
                            </div>

                            <div class="col-sm-12 text-center">

                                {#<form name="test">#}
                                    <input type="submit" class="btn btn-success my-2" onclick="saveInfo( {{ material.id }})" name="name" value="Применить" />
                                {#</form>#}

                            </div>

                        </div>
                        <br/>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-1 mx-auto">
                <a class="btn btn-dark" href="/materials">Назад</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super  }}
     <script type="text/javascript" src="{% static 'materials/js/editButton/product.js' %}"></script>
{% endblock %}